<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon class="icon-back" name="chevron-back-outline">
        </ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      Roya café
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="image-container">
    <h1 class="title-image">
      Roya café
    </h1>
    <swiper-container [loop]="true" [pagination]="true">

      <swiper-slide class="swiper-slide-custom">
        <img src="../../assets/images/roya.png" alt="Image 1">
      </swiper-slide>

      <swiper-slide class="swiper-slide-custom">
        <img src="../../assets/images/roya.jpeg" alt="Image 1">
      </swiper-slide>

      <swiper-slide class="swiper-slide-custom">
        <img src="../../assets/images/roya.png" alt="Image 1">
      </swiper-slide>

    </swiper-container>
  </div>

  <div class="content-container">

    <!-- <div class="d-title">
      <ion-text class="name-data">
        Roya café
        <p class="name-subtitle">
          Enfermedad del cultivo de café.
        </p>
      </ion-text>
    </div> -->

    <p class="text-center">
      <ion-button size="small" fill="outline" class="bg-red mr-1">
        <ion-text class="text-badge">
          Enfermedad
        </ion-text>
      </ion-button>
      
      <ion-button size="small" fill="outline" class="bg-red mr-1">
        <ion-text class="text-badge">
          Virus
        </ion-text>
      </ion-button>
      
      <ion-button size="small" fill="outline" class="bg-red">
        <ion-text class="text-badge">
          Hongo
        </ion-text>
      </ion-button>

    </p>


    <div class="d-description mt-2">
      <ion-text class="name-description">
        Características
      </ion-text>
      <ul class="list-ul">
        <li>
          <p class="description">
            Descripción detallada de la máquina. Aquí se puede proporcionar información extensa sobre las
            características,
            uso, y beneficios de la máquina.
          </p>
        </li>
        <li>
          <p class="description">
            Descripción detallada de la máquina.
          </p>
        </li>
      </ul>

    </div>

  </div>
</ion-content>