ion-content {
    // --background: #e9e9e8;
    /* Ajusta el color de fondo según tus necesidades */
    display: flex;
  
    height: 100vh;
    /* Asegura que el contenido ocupe toda la pantalla */
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }

.bg-image {
    background-image: url("../../assets/images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-image-card {
    background-image: url("../../assets/images/hojas.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.no-scroll {
    overflow: hidden;
}

.text-red {
    color: #e74c63;
    font-size: 40px;
    font-weight: 700;
}

.tagline{
    margin-bottom: -5px;
}

.title {
    font-size: 25px;
    font-weight: 600;
    color: #305810;
}

.logo-img {
    width: 60px;
    padding: .5rem;
    border-radius: 50%;
}

.image-container {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

ion-row {
    margin-bottom: 15px;
}

ion-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    cursor: pointer;
    border-radius: 20px;
}

.card-lg-1{
    height: 11rem;
}

.card-lg-2{
    height: 11rem;
    margin-top: -50px;
}

.card-sm-1{
    height: 8rem;
}
.card-sm-2{
    height: 8rem;
}

.green-light {
    background-color: #305810;
}

.card-icon {
    font-size: 3em;
    margin-bottom: 10px;
    color: #fefeff;
}

ion-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fefeff;
}

ion-card-header svg {
    width: 50px;
}

ion-card-title {
    font-size: 15px;
    color: #fefeff;
}