ion-content {
    // --background: #e9e9e8;
    /* Ajusta el color de fondo según tus necesidades */
    display: flex;

    height: 100vh;
    /* Asegura que el contenido ocupe toda la pantalla */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
}

.logo-img {
    width: 60px;
    padding: .5rem;
    border-radius: 50%;
}

.icon-back{
    color: #ffffff;
    background-color: #e74c63;
    padding: 8px;
    border-radius: 50%;
}

.icon-info{
    margin-right: 10px;
    color: #809e59;
    font-size: 30px;
    padding: 8px;
    border-radius: 50%;
}


.text-red {
    color: #e74c63;
    font-size: 40px;
    font-weight: 700;
}

.tagline {
    margin-bottom: -5px;
}

.title {
    font-size: 25px;
    font-weight: 600;
    color: #305810;
}

.logo-img {
    width: 60px;
    padding: .5rem;
    border-radius: 50%;
}

.image-container {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-card {
    background-color: #ffffff;
    margin-bottom: -2px;
    border-radius: 10px;
}

.image-col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.responsive-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

ion-card-title {
    color: #193105;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

ion-badge{
    background-color: #e74c63;
    color: #fff;
}

ion-card-content p {
    color: #193105;

}

.green-light {
    background-color: #809e59;
}