<ion-content  [fullscreen]="true">

  <div class="container bg-image no-scroll">

    <img src="../../assets/icon/logo.png" alt="logo" class="center-image" style="width: max-content;">

    <h1 class="title">
      Bienvenido a
      <br>
      <span class="text-danger">
        Coffee Check
      </span>
    </h1>

    <p class="description">
      Aplicación móvil con IA para identificar y caracterizar enfermedades en la planta del café.
    </p>

    <ion-button (click)="aceptar()" expand="block" class="accept-button">
      Empezar
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
    
  </div>

</ion-content>